
<div class="row">
{{#if employees}}
     {{#each employees}}
      <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="/details/{{eid}}"><img class="card-img-top" src="/profileimages/{{profileimage}}" alt="{{name}}"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="/details/{{eid}}">{{name}}</a>
              </h4>           
              <p class="card-text"><span class="text-success">{{technology}}</span> <br> 
               <span class="text-info">{{email}}</span> <br> 
              {{short_desc}} <a href="/details/{{eid}}" class="link">Read More...</a>
              </p>
            </div>
          </div>
        </div>
      {{/each}}
      {{else}}
     
     {{/if}}
</div>

<div class="row font-weight-bold">
  <div class="col-lg-12">
  <ul class="list-group">
   <li class="list-group-item list-group-item-primary">Connection pooling</li>
  <li class="list-group-item list-group-item-secondary">Exception and error handling</li>
  <li class="list-group-item list-group-item-success">Bulk file upload and batch update</li>
  <li class="list-group-item list-group-item-danger">Include DB host and name from file</li>
  <li class="list-group-item list-group-item-warning">Log message genration</li>
  <li class="list-group-item list-group-item-info">Use S3 for file storage</li>
  <li class="list-group-item list-group-item-light">EC2 for server</li>
  <li class="list-group-item list-group-item-dark">Intellij for nodejs</li>
</ul>
</div>
</div>
